* {
    font-size: 18px;
}

section {
    padding: 40px 0px;
}

a,
button {
    color: black;
}

/* ================HEADER===================== */
.navbar-expand-xl .navbar-toggler {
    display: unset;
}

header .nav-head {
    background-image: url(../img/bg-header.jpg);
}

/* ============HomePage============== */
/* #myVideo{
    height: calc(100vh);
} */
header .banner {
    height: calc(100vh);
    background-image: url(../img/banner-homep.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    color: #75418c;
    text-transform: uppercase;
}

.btn:hover {
    background: linear-gradient(90deg, rgba(92, 45, 145, 1) 0%, rgba(129, 41, 144, 1) 50%, rgba(163, 35, 142, 1) 100%);
    border-color: var(--bs-btn-hover-border-color);
    color: white;
}

.bg {
    color: white;
    background: linear-gradient(90deg, rgba(92, 45, 145, 1) 0%, rgba(129, 41, 144, 1) 50%, rgba(163, 35, 142, 1) 100%);
}

.bg-grey {
    background-color: #e6e6e6;
}

header .banner .content {
    background-color: #18002e87;
}

.nav-tabs .active {
    color: white;
    background: linear-gradient(90deg, rgba(92, 45, 145, 1) 0%, rgba(129, 41, 144, 1) 50%, rgba(163, 35, 142, 1) 100%) !important;
}

.search {
    outline: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white;
}

.nav-link {
    color: #75418c;
}

.nav-link:focus,
.nav-link:hover {
    color: #75418c;
}

.img-leftSide {
    top: 0px;
    right: 10%;
}

.search-if .rightSide {
    background-image: url(../img/bg-join-gr.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-body {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-check:active+.btn:focus,
.btn-check:checked+.btn:focus,
.btn.active:focus,
.btn.show:focus,
.btn:active:focus {
    background-color: white;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
    background-color: white;
}

.btn-check:active+.btn,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:active {
    background: linear-gradient(90deg, rgba(92, 45, 145, 1) 0%, rgba(129, 41, 144, 1) 50%, rgba(163, 35, 142, 1) 100%) !important;
}

/* ==========products=========== */
.products .title::after {
    content: "";
    background: linear-gradient(90deg, rgba(92, 45, 145, 1) 0%, rgba(129, 41, 144, 1) 50%, rgba(163, 35, 142, 1) 100%);
    width: 70px;
    height: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}
.products .bg-bds{
    background-image: url(../img/bg-pr.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#myTabContent .tile-pr{
    bottom: 10%;
    background-color: #65195db5;
    border-left: 11px solid #920071;
}
#myTabContent .tile-hidden{
    background-color: #65195db5;
    top: 0px;
    width: 100%;
    height: 100%;
    
}
.img-duct:hover .card .tile-hidden{
    visibility: visible;
}
.tile-hidden{
    visibility: hidden;
}